body{
    font:18pt normal Arial;
    background-color: aquamarine;
}
header{
    position: sticky;
    top: 0;
    background-color: aqua;
    margin: -12px;
}
#iconeUser{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 20px;

}
#imgLogo{
    width: 50px;
    height: 50px;
    margin: 20px;
}

#userInfo{
    text-align: end;
    
    margin-right: 20px;
}
section{
    align-items: center;
    background-color: rgb(35, 141, 167);
    width: 400px;
    height: 400px;
    text-align: center;
    margin: auto;
    border-radius: 5%;
}
#Entrar{
    display: flex;
    flex-direction: column;
    margin: 100px;
}
span{
    margin: 10px;
}    
#imagem{
    margin-top: 40px;
    width: 75px;
    height: 75px;
}
input{
    display: inline;
    width: 100px;
}