header{
    position: sticky;
    top: 0;
    background-color: aqua;
}
#iconeUser{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 20px;

}
#imgLogo{
    width: 50px;
    height: 50px;
    margin: 20px;
}
#logo{
    float: left;
}
#userInfo{
    text-align: end;
    
    margin-right: 20px;
}