body{
    font:18pt normal Arial;
    background-color: aquamarine;
}
header{
    text-align:
}
section{
    align-items: center;
    background-color: rgb(35, 141, 167);
    width: 400px;
    height: 400px;
    text-align: center;
    margin: auto;
    border-radius: 5%;
}
#Entrar{
    display: flex;
    flex-direction: column;
    margin: 100px;
}
span{
    margin: 10px;
}    
#imagem{
    margin-top: 40px;
    width: 75px;
    height: 75px;
}
input{
    display: inline;
    width: 100px;
}