body{
    font:18pt normal Arial;
    background-color: aquamarine;
}
header{
    position: sticky;
    top: 0;
    background-color: #088C7F;

}
#iconeUser{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 20px;

}
#imgLogo{

    /**proporcao 16:10**/
    width: 114px;
    height: 70px;
    margin: 7px;
}

#userInfo{
    text-align: end;
    
    margin-right: 20px;
}
section{
    align-items: center;
    background-color: #088C7F;
    width: 400px;
    height: 400px;
    text-align: center;
    margin: auto;
    border-radius: 5%;
}
#Entrar{
    display: flex;
    flex-direction: column;
    margin: 100px;
}
span{
    margin: 10px;
}    
#imagem{
    margin-top: 40px;
    width: 75px;
    height: 75px;
}
input{
    display: inline;
    width: 100px;
}
.nav>li>a {
    color: rgb(249, 6, 6);
  }
  .nav-pills>li.active>a,
  .nav-pills>li.active>a:hover, 
  .nav-pills>li.active>a:focus { 
    background-color: #f60202; 
  }